section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  font-size: 1.5em;

}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motions) {
  .hidden {
    transition: none;
  }
}